### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xml
out
gen
!/.idea/
*.class
target/

data/testdata/mosaic/input/GF1_WFV1_E109.8_N29.6_20160208_L1A0001398813_ortho_8bit.tif.poly.shp
data/testdata/geometric_correction/input/GF1_WFV3_E115.6_N38.9_20160529_L1A0001610300__1.rpb
*.tiff
*.rpb
*.tif
*.shx
*.dbf
*.poly
*.shp
data/testdata/mosaic/output/project.prj
data/testdata/mosaic/output/project.seam
data/testdata/mosaic/output/project.txt
*.log
