### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xml
out
gen
!/.idea/
*.class
target/

data/testdata/mosaic/input/GF1_WFV1_E109.8_N29.6_20160208_L1A0001398813_ortho_8bit.tif.poly.shp
data/testdata/geometric_correction/input/GF1_WFV3_E115.6_N38.9_20160529_L1A0001610300__1.rpb
*.tiff
*.rpb
*.tif
*.shx
*.dbf
*.poly
*.shp
data/testdata/mosaic/output/project.prj
data/testdata/mosaic/output/project.seam
data/testdata/mosaic/output/project.txt
*.log
src/main/scala/whu/edu/cn/algorithms/gmrc/colorbalance/temp.scala
src/main/scala/whu/edu/cn/algorithms/gmrc/colorbalance/ColorBalanceNoSpark.scala
src/main/scala/whu/edu/cn/algorithms/gmrc/colorbalance/ColorBalanceNoSpark.scala
src/main/scala/whu/edu/cn/algorithms/gmrc/util/temp.java
src/main/scala/whu/edu/cn/algorithms/gmrc/util/tempScala.scala
src/main/scala/whu/edu/cn/algorithms/gmrc/colorbalance/ColorBalance_single_band_rdd.scala
src/main/scala/whu/edu/cn/algorithms/gmrc/colorbalance/ColorBalance_all_block_rdd.scala
lib/ubuntu/libgdalgeocor.so
lib/ubuntu/libgdalalljni.so
lib/ubuntu/gdal.jar
lib/ubuntu/gdal-3.2.0.tar.gz
data/testdata/mosaic/input_little/result.zip
data/testdata/mosaic/output_little/project.prj
data/testdata/mosaic/output_little/project.seam
data/testdata/mosaic/output_little/project.txt
data/testdata/colorbalanceRef/output/project.prj
data/testdata/colorbalanceRef/output/project.seam
data/testdata/colorbalanceRef/output/project.txt
lib/dll/geocorrection/WhuGdalDll_dem.dll
lib/dll/geocorrection/libgdalgeocor.so.bak
